# Byte-compiled / cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
venv/
*env/

# Temporary file
tmp/
*.tmp
*.log
*.bak
*.swp
tmp*

# OS generate files
.DS_Store
Thumbs.db

# IDE related
.vscode/
.idea/

# Python build
build/
dist/
*.egg-info/

# Costume temp files
*.txt~

# 
*.env

# pytest cache
.pytest_cache/

# Ignore test and config directories
# These directories are currently excluded because:
# - config/ is not yet populated with configuration files.
# - test/ is temporarily excluded until the testing structure is established.
test/
config/
# - pytest.ini is not yet populated with configuration files.
pytest.ini